@charset "UTF-8";
body {
    font-family: sans-serif;
}
  
h1, h2 {
    text-align: left;
}
  
p {
    text-align: justify;
    line-height: 150%;
}
  
footer {
    border-top: black 3px solid;
    color: black;
}
@media screen and (max-width: 480px) {
    body {
      background-color: red;
      color: lightyellow;
    }
  }
  
@media screen and (min-width: 481px) and (max-width: 720px) {
    body {
      margin-left: 50px;
      margin-right: 50px;
      background-color: greenyellow;
      color: darkblue;
    }
  }
  
@media screen and (min-width: 721px) and (max-width: 1080px) {
    body {
      margin-left: 150px;
      margin-right: 150px;
      background-color: lightblue;
      color: darkred;
    }
  }
  
@media screen and (min-width: 1081px) {
    body {
      margin-left: 30%;
      margin-right: 30%;
      background-color: lightpink;
      color: red;
    }
  }